CLOUDFLARE_ACCOUNT_ID=8527ec1369d46f55304a6f59ab5356e4
CLOUDFLARE_D1_DATABASE_ID=eca88308-ea71-4aa2-afff-501e4b05d0b7
CLOUDFLARE_D1_TOKEN=<api token with D1 read/write>

# Set later when DNS is configured:
NEXT_PUBLIC_R2_PUBLIC_BASE_URL=https://cdn.theguidon.com
